@charset "UTF-8";
:root {
  --font-family-filter: "Roboto";
  --brand-text-color: #757575;
  --accent-text-color: #212121;
  --logo-web-color: #2196F3;
  --logo-studio-color: #000;
  --hero-text-color: #FFF;
  --hero-bg-color: #2F303A;
  --hero-btn-bg-hover: #188CE8;
  --team-bg-color: #F5F4FA;
  --foot-text-color: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family-filter);
  color: var(--brand-text-color);
  background-color: var(--hero-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__web {
  color: var(--logo-web-color);
}

.btn-mob-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .btn-mob-menu {
    display: none;
  }
}

.btn-mob-menu .icon-mob-close {
  display: none;
}

.btn-mob-menu.is-open .icon-mob-close {
  display: block;
}

.btn-mob-menu.is-open .icon-mob-menu {
  display: none;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: transform 500ms var(--timing-function);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  padding: 48px 40px;
  text-align: start;
  font-size: 20px;
  z-index: 1;
}
.menu-container.is-open {
  display: block;
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu__studio-link,
.menu__portfolio-link,
.menu__contakt-link {
  display: block;
  margin-bottom: 32px;
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu__studio-link--current,
.menu__portfolio-link--current {
  color: var(--logo-web-color);
}

.menu__studio-link:hover, .menu__studio-link:focus {
  color: var(--logo-web-color);
}

.menu__portfolio-link:hover, .menu__portfolio-link:focus {
  color: var(--logo-web-color);
}

.menu__contakt-link:hover, .menu__contakt-link:focus {
  color: var(--logo-web-color);
}

.icon-mob-close {
  fill: var(--logo-studio-color);
  transition: fill 250ms var(--timing-function);
}

.icon-mob-menu {
  fill: var(--logo-studio-color);
  transition: fill 250ms var(--timing-function);
}

.btn-mob-menu:hover .icon-mob-close,
.btn-mob-menu:focus .icon-mob-close {
  fill: var(--logo-web-color);
  cursor: pointer;
}

.btn-mob-menu:hover .icon-mob-menu,
.btn-mob-menu:focus .icon-mob-menu {
  fill: var(--logo-web-color);
  cursor: pointer;
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
}

.separator {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social-item:not(:first-child) {
  margin-left: 10px;
}

.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--logo-web-color);
}

.menu-contact {
  margin-bottom: 64px;
}

.menu-contact__tel-item {
  margin-bottom: 32px;
}

.menu-contact__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--logo-web-color);
}

.menu-contact__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brand-text-color);
}

.menu-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  color: var(--logo-studio-color);
}

.header {
  border: 1px solid #ECECEC;
}

.container--header {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__studio-link,
.nav__portfolio-link,
.nav__contakt-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.nav__portfolio-item,
.nav__contakt-item {
  margin-left: 50px;
}

.nav__studio-link--current,
.nav__portfolio-link--current {
  color: var(--logo-web-color);
  position: relative;
}

.nav__studio-link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--logo-web-color);
  border-radius: 2px;
}

.nav__portfolio-link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--logo-web-color);
  border-radius: 2px;
}

.nav__studio-link:hover, .nav__studio-link:focus {
  color: var(--logo-web-color);
}

.nav__portfolio-link:hover, .nav__portfolio-link:focus {
  color: var(--logo-web-color);
}

.nav__contakt-link:hover, .nav__contakt-link:focus {
  color: var(--logo-web-color);
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__mail-link {
    padding-top: 21px;
  }

  .contact__tel-link {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 768px) {
  .contact__mail-link,
.contact__tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-text-color);
    transition: color 250ms var(--timing-function);
  }
}
@media screen and (min-width: 1200px) {
  .contact__mail-link,
.contact__tel-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__mail-text,
.contact__tel-number {
  margin-left: 10px;
}

.contact__mail-link:hover, .contact__mail-link:focus {
  color: var(--logo-web-color);
}

.contact__tel-link:hover, .contact__tel-link:focus {
  color: var(--logo-web-color);
}

.contact__icon-envelope,
.contact__icon-smartphone {
  transition: fill 250ms var(--timing-function);
}

.contact__mail-link:hover .contact__icon-envelope, .contact__mail-link:focus .contact__icon-envelope {
  fill: var(--logo-web-color);
}

.contact__tel-link:hover .contact__icon-smartphone, .contact__tel-link:focus .contact__icon-smartphone {
  fill: var(--logo-web-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__mail-item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__tel-item {
    margin-left: 30px;
  }
}

.hero {
  background-color: var(--hero-bg-color);
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero--overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: 480px 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-mob@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    max-width: 768px;
    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-tabl@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-tabl@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    max-width: 1600px;
    height: 600px;
    background-size: 1600px 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-desk@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/Hero-desk@2x.jpg);
  }
}

.hero__name {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__name {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  font-family: var(--font-family-filter);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--logo-web-color);
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-btn-bg-hover);
  cursor: pointer;
}

.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.peculiarities__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .peculiarities__item {
    flex-basis: calc(50% - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    flex-basis: calc(25% - 30px);
    margin: 15px;
  }
}

.peculiarities__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  background-color: var(--team-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.peculiarities__item--icon-antena::before {
  background-image: url(../images/icon/antenna\ 1.svg);
}

.peculiarities__item--icon-clock::before {
  background-image: url(../images/icon/clock\ 1.svg);
}

.peculiarities__item--icon-diagram::before {
  background-image: url(../images/icon/diagram\ 1.svg);
}

.peculiarities__item--icon-astronaut::before {
  background-image: url(../images/icon/astronaut\ 1.svg);
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .peculiarities__title {
    text-align: start;
  }
}

.peculiarities__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 100%;
  margin-top: 10px;
  min-height: 50px;
}
@media screen and (min-width: 768px) {
  .peculiarities__text {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__text {
    max-width: 270px;
    min-height: 75px;
  }
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
  margin-top: 50px;
}

.work__item {
  position: relative;
  display: block;
  flex-basis: calc((100% - 60px) / 3);
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.work__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.team {
  background-color: var(--team-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__item {
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item > img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(50% - 30px);
    margin: 15px;
  }
  .team__item > img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(25% - 30px);
    margin: 15px;
  }
  .team__item > img {
    width: 270px;
    height: 260px;
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.member-cocial {
  display: flex;
  justify-content: center;
}

.member-cocial__item {
  width: 44px;
  height: 44px;
}

.member-cocial__item:not(:first-child) {
  margin-left: 10px;
}

.member-cocial__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--hero-text-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.member-cocial__icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--timing-function);
}

.member-cocial__link:hover, .member-cocial__link:focus {
  background-color: var(--logo-web-color);
}

.member-cocial__link:hover .member-cocial__icon, .member-cocial__link:focus .member-cocial__icon {
  fill: var(--hero-text-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-logo {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .client-logo {
    flex-wrap: wrap;
  }
}

.clients__client-logo {
  margin: -15px;
}

.client-logo__item {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  flex-basis: calc(50% - 30px);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .client-logo__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client-logo__item {
    flex-basis: calc(16.6666666667% - 30px);
  }
}

.client-logo__link {
  display: flex;
  border: transparent;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border 250ms var(--timing-function);
}

.client-logo__link:hover .client-logo__icon, .client-logo__link:focus .client-logo__icon {
  fill: var(--logo-web-color);
}

.client-logo__link:focus, .client-logo__link:hover {
  border: 1px solid var(--logo-web-color);
}

.client-logo__icon {
  fill: #AFB1B8;
  transition: fill 250ms var(--timing-function);
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}

.container--footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .container--footer {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-address-cocial {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  color: var(--hero-text-color);
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__conect {
    text-align: center;
    margin-bottom: 60px;
    margin-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conect {
    text-align: left;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer__cocial-address {
  margin-left: 70px;
}

.footer__subscription {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscription {
    margin-right: auto;
  }
}

.address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}
@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__mail-link,
.address__tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--foot-text-color);
  transition: color 250ms var(--timing-function);
}

.address__mail-link:hover, .address__mail-link:focus {
  color: var(--logo-web-color);
}

.address__tel-link:hover, .address__tel-link:focus {
  color: var(--logo-web-color);
}

.address__mail,
.address__tel {
  margin-top: 9px;
}

.cocial-address {
  display: block;
  width: 206px;
}
@media screen and (max-width: 767px) {
  .cocial-address {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cocial-address {
    margin-top: 5px;
    margin-left: 165px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .cocial-address {
    text-align: left;
  }
}

.cocial-address__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}

.cocial-address__list {
  display: flex;
  justify-content: center;
}

.cocial-address__item {
  width: 44px;
  height: 44px;
}

.cocial-address__item:not(:first-child) {
  margin-left: 10px;
}

.cocial-address__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.062745098);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.cocial-address__icon {
  fill: var(--hero-text-color);
}

.cocial-address__link:hover, .cocial-address__link:focus {
  background-color: var(--logo-web-color);
}

.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
@media screen and (max-width: 1199px) {
  .subscription__text {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__client {
    display: flex;
  }
}

.subscription__input-email {
  display: inline-block;
  padding-left: 16px;
  height: 50px;
  color: var(--hero-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-bg-color);
}
@media screen and (min-width: 480px) {
  .subscription__input-email {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscription__input-email {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input-email {
    width: 358px;
  }
}

.subscription__input-email::placeholder {
  width: 47px;
  height: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: auto;
  margin-right: auto;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: 12px;
    margin-right: 0;
  }
}

.subscription__btn-text {
  top: 10px;
  left: 29px;
  width: 109px;
  height: 30px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}

.subscription__btn-icon {
  top: 13px;
  right: 28px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__filter {
  margin-bottom: 55px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__projeсt {
    margin: -15px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 399px) {
  .filter {
    gap: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter__btn {
  padding: 6px 22px;
  font-family: var(--font-family-filter);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  background-color: var(--team-bg-color);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

@media screen and (min-width: 400px) {
  .filter__item:not(:first-child) {
    margin-left: 8px;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  .filter__item:nth-child(4) {
    margin-top: 15px;
    margin-left: 0px;
  }
  .filter__item:nth-child(5) {
    margin-top: 15px;
  }
}

.filter__btn--current {
  background-color: var(--logo-web-color);
  color: var(--hero-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--logo-web-color);
  color: var(--hero-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projeсt {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    flex-basis: calc(50% - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.project__image {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  display: flex;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .project__overlay {
    justify-content: center;
    align-items: center;
  }
}

.project__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  transform: translateY(-101%);
}

.project__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  overflow-y: scroll;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}
@media screen and (min-width: 768px) {
  .project__overlay-text {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .project__overlay-text {
    width: 322px;
  }
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__bottom-card {
  padding: 20px 24px;
  background: var(--hero-text-color);
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__bottom-card {
    flex-grow: 1;
  }
}

.projeсt__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  margin-bottom: 4px;
}

.projeсt__product {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 90%;
  height: 88%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--timing-function);
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--hero-text-color);
  transition: border-color 250ms var(--timing-function);
}

.modal__close-icon {
  display: block;
  fill: var(--logo-studio-color);
  transition: fill 250ms var(--timing-function);
}

.modal__button-close:hover, .modal__button-close:focus {
  border-color: var(--logo-web-color);
  cursor: pointer;
}

.modal__button-close:hover .modal__close-icon, .modal__button-close:focus .modal__close-icon {
  fill: var(--logo-web-color);
}

.modal__text {
  width: 100%;
  height: 65px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 480px) {
  .modal__text {
    width: 370px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__text {
    width: 448px;
    height: 23px;
    line-height: 1.15;
  }
}

.modal-form__input-data {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input-data--coment {
  margin-bottom: 18px;
}

.modal-form__label-item {
  margin-bottom: 4px;
  width: 25px;
  height: 14px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--brand-text-color);
}

.modal-form__input-item {
  display: block;
  padding: 12px 0px 12px 42px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form__input-item:hover, .modal-form__input-item:focus {
  border-color: var(--logo-web-color);
}

.modal-form__input-item:hover + .modal-form__icon, .modal-form__input-item:focus + .modal-form__icon {
  fill: var(--logo-web-color);
}

.modal-form__input-item--coment {
  display: block;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--logo-studio-color);
  resize: none;
}

.modal-form__input-item--coment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.modal-form__checkbox {
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox {
    margin-left: 9px;
  }
}

.modal-form__checkbox-item {
  display: block;
  padding-left: 20.38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox-item {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__dogovor-link {
  color: var(--logo-web-color);
}

.modal-form__check-input {
  -webkit-appearance: none;
}

.modal-form__check-icon {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 1200px) {
  .modal-form__check-icon {
    top: 4px;
  }
}

.modal-form__check-input:focus ~ .modal-form__check-icon {
  fill: var(--logo-web-color);
}
.modal-form__check-input:checked ~ .modal-form__check-icon {
  fill: none;
  background-image: url(../images/icon/icon\ check.svg);
}

.modal-form__send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background: var(--hero-btn-bg-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
@media screen and (min-width: 480px) {
  .modal-form__send-btn {
    width: 200px;
    height: 50px;
  }
}/*# sourceMappingURL=main.css.map */