.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-logo {
    display: flex;
}

.clients__client-logo {
    margin: -15px;
}

.client-logo__item {
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    flex-basis: calc(100%/6 - 30px);
    margin: 15px;
}

.client-logo__link {
    display: flex;
    border: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    transition: border 250ms var(--timing-function);
}

.client-logo__icon {
    .client-logo__link:hover & ,
    .client-logo__link:focus & {
    fill: var(--logo-web-color);
    }
}

.client-logo__link {
    &:focus, &:hover {
    border: 1px solid var(--logo-web-color);
    }
}

.client-logo__icon {
    fill: #AFB1B8;

    transition: fill 250ms var(--timing-function);
}

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    margin-bottom: 50px;
}