.footer {
    background-color: var(--hero-bg-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

.footer__logo {
    color: var(--hero-text-color);
    padding: 0;
}
.footer__address {
    margin-top: 20px;
}
.footer__cocial-address {
    margin-left: 70px;
}
.footer__subscription {
    margin-left: auto;
}