.hero {
    background-color: var(--hero-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero--overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-img-hero.jpg);
}

.hero__name {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);

    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero__btn {
    font-family: var(--font-family-filter);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    background-color: var(--logo-web-color);

    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms var(--timing-function);
}

.hero__btn {
    &:hover, &:focus {
    background-color: var(--hero-btn-bg-hover);
    cursor: pointer;
    }
}