.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms var(--timing-function);

    background-color: var(--hero-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: var(--hero-text-color);
    cursor: pointer;
    transition: border-color 250ms var(--timing-function);

}

.modal__close-icon {
    display: block;
    fill: var(--logo-studio-color);
    transition: fill 250ms var(--timing-function);
}

.modal__button-close {
    &:hover, &:focus {
    border-color: var(--logo-web-color);
    }
}

.modal__close-icon {
    .modal__button-close:hover & ,
    .modal__button-close:focus & {
    fill: var(--logo-web-color);
    }
}

.modal__text {
    width: 448px;
    height: 23px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.modal-form__input-data {
    position: relative;
    margin-bottom: 10px;
}



.modal-form__input-data--coment {
    margin-bottom: 18px;
}

.modal-form__label-item {
    display: block;
    margin-bottom: 4px;

    width: 25px;
    height: 14px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--brand-text-color);
}

.modal-form__input-item {
    display: block;
    padding: 12px 0px 12px 42px;
    box-sizing: border-box;

    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
}

.modal-form__input-item {
    &:hover, &:focus {
    border-color: var(--logo-web-color);
    }
}
.modal-form__icon {
    .modal-form__input-item:hover + &,
    .modal-form__input-item:focus + & {
        fill: var(--logo-web-color);
    }

}

.modal-form__input-item--coment {
    display: block;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--logo-studio-color);
    resize: none;
}

.modal-form__input-item--coment {
    &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__icon {
    position: absolute;
    top: 29px;
    left: 12px;
    transition: fill 250ms var(--timing-function);
}

.modal-form__checkbox {
    position: relative;
    display: block;

    // width: 425px;
    // height: 24px;
    margin-left: 9px;
    margin-right: auto;
    margin-bottom: 32px;
}

.modal-form__checkbox-item {
    display: block;
    padding-left: 20.38px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-text-color);
}

.modal-form__dogovor-link {
    color: var(--logo-web-color);
}

.modal-form__check-input {
    -webkit-appearance: none;
}

.modal-form__check-icon {
    position: absolute;
    left: 0;
    top: 4px;
}
.modal-form__check-icon {
    .modal-form__check-input:focus ~ & {
        fill: var(--logo-web-color);
    }
    .modal-form__check-input:checked ~ & {
        fill: none;
        background-image: url(../images/icon/icon\ check.svg);
    }

}

.modal-form__send-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);

    background: var(--hero-btn-bg-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}