.peculiarities {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.peculiarities__list {    

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.peculiarities__item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 768px) {
        flex-basis: calc(100%/2 - 30px);
        margin: 15px;
    } 
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100%/4 - 30px);
        margin: 15px;
    }
}

.peculiarities__item {
    &::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    background-color: var(--team-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
    }
}

.peculiarities__item--icon-antena {
    &::before {
    background-image:
        url(../images/icon/antenna\ 1.svg);
    }
}

.peculiarities__item--icon-clock {
    &::before {
    background-image:
        url(../images/icon/clock\ 1.svg);
    }    
}

.peculiarities__item--icon-diagram {
    &::before {
    background-image:
        url(../images/icon/diagram\ 1.svg);
    }    
}

.peculiarities__item--icon-astronaut {
    &::before {
    background-image:
        url(../images/icon/astronaut\ 1.svg);
    }    
}

.peculiarities__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-text-color);

    @media screen and (min-width: 768px) {
        text-align: start;
    }
}

.peculiarities__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    max-width: 100%;
    margin-top: 10px;
    min-height: 50px;    

    @media screen and (min-width: 768px) {
        max-width: 354px;
         
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        min-height: 75px; 
    }
}