.peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
}

.peculiarities__list {
    display: flex;
    margin: -15px;
}

.peculiarities__item {
    flex-basis: calc(100%/4 - 30px);
    margin: 15px;
}

.peculiarities__item {
    &::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    background-color: var(--team-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
    }
}

.peculiarities__item--icon-antena {
    &::before {
    background-image:
        url(../images/icon/antenna\ 1.svg);
    }
}

.peculiarities__item--icon-clock {
    &::before {
    background-image:
        url(../images/icon/clock\ 1.svg);
    }    
}

.peculiarities__item--icon-diagram {
    &::before {
    background-image:
        url(../images/icon/diagram\ 1.svg);
    }    
}

.peculiarities__item--icon-astronaut {
    &::before {
    background-image:
        url(../images/icon/astronaut\ 1.svg);
    }    
}

.peculiarities__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-text-color);
}

.peculiarities__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    max-width: 270px;
    margin-top: 10px;
    min-height: 75px;
}