.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.portfolio__filter {
    margin-bottom: 55px;

    @media screen and (min-width: 768px) {
        margin-bottom: 29px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}
    
.portfolio__projeсt {

    @media screen and (min-width: 768px) {
        margin: -15px;
    }

    
}