.work {
    @media screen and (max-width: 767px) {
                display: none;
    }
    padding-bottom: 94px;
}

.work__list {
    display: flex;
    margin-top: 50px;
}

.work__item {
    position: relative;
    display: block;
    flex-basis: calc((100% - 2*30px)/3);
                                                
}

.work__item {
    &:not(:nth-child(3n)) {
       margin-right: 30px;
    }   
}

.work__item {
    &:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;
    }    
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.work__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    ;
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}