
.menu-mob-all {

    @media screen and (min-width: 768px) {
            display: none;
    }
}


.btn-mob-menu {
    display: block;
    position: absolute;
    
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;    

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.btn-mob-menu .icon-mob-close {
    display: none;
}

.btn-mob-menu.is-open .icon-mob-close {
    display: block;
}

.btn-mob-menu.is-open .icon-mob-menu {
    display: none;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform 500ms var(--timing-function);


    width: 100%;
    height: 100vh;
    overflow-y: auto;

    background-color: #fff;
    padding: 48px 40px;
    text-align: start;
    font-size: 20px;
    z-index: 1;

    &.is-open {
        display: block;
        transform: scale(1);
        
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.menu__studio-link,
.menu__portfolio-link,
.menu__contakt-link {
    display: block;
    margin-bottom: 32px;  
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}

.menu__studio-link--current,
.menu__portfolio-link--current {
    color: var(--logo-web-color);
}

.menu__studio-link {
    &:hover,
    &:focus {
        color: var(--logo-web-color);
    }
}
.menu__portfolio-link {
    &:hover,
    &:focus {
        color: var(--logo-web-color);
    }
}
.menu__contakt-link {
    &:hover,
    &:focus {
        color: var(--logo-web-color);
    }
}
.icon-mob-close {
    fill: var(--logo-studio-color);
    transition: fill 250ms var(--timing-function);
}
.icon-mob-menu {
    fill: var(--logo-studio-color);
    transition: fill 250ms var(--timing-function);
}

.btn-mob-menu:hover .icon-mob-close,
.btn-mob-menu:focus .icon-mob-close {
    fill: var(--logo-web-color);
    cursor: pointer;
}

.btn-mob-menu:hover .icon-mob-menu,
.btn-mob-menu:focus .icon-mob-menu {
    fill: var(--logo-web-color);
    cursor: pointer;
}

.menu-social-list {
    display: flex;
    flex-wrap: wrap;
}

.separator {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social-item:not(:first-child) {
    margin-left: 10px;
}
.menu-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color:var(--logo-web-color);
}
.menu-contact {
    margin-bottom: 64px;
}
.menu-contact__tel-item {
    margin-bottom: 32px;
}
.menu-contact__tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;    
    letter-spacing: 0.02em;    
    color:var(--logo-web-color);

    @media screen and (max-width: 479px) {
        font-size: 22px;
    }
}
.menu-contact__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;    
    color:var(--brand-text-color);
}
.menu-all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


