.subscription__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.subscription__client {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
    
}

.subscription__input-email {
    display: inline-block;
    padding-left: 16px;
    width: 450px;
    height: 50px;
    color: var(--hero-text-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--hero-bg-color);
    @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    }
    
    @media screen and (min-width: 1200px) {        
        width: 358px;
    }
}

.subscription__input-email {
    &::placeholder {
    width: 47px;
    height: 20px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
}

.subscription__btn {
    display:flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px 10px 29px;
    margin-left:auto;
    margin-right: auto;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
        margin-right: 0;
    }
}

.subscription__btn-text {
    top: 10px;
    left: 29px;
    width: 109px;
    height: 30px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
}

.subscription__btn-icon {
    top: 13px;
    right: 28px;
}