p,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--font-family-filter);
    color: var(--brand-text-color);
    background-color: var(--hero-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}