:root {
    --font-family-filter: 'Roboto';
    --brand-text-color: #757575;
    --accent-text-color: #212121;
    --logo-web-color: #2196F3;
    --logo-studio-color: #000;
    --hero-text-color: #FFF;
    --hero-bg-color: #2F303A;
    --hero-btn-bg-hover: #188CE8;
    --team-bg-color: #F5F4FA;
    --foot-text-color: rgba(255, 255, 255, 0.6);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}